body{
    background-repeat:no-repeat;
    background-size: cover;                /* Cover entire section */
    background-position: center;   
    font-size: medium;
    text-align:center;

}@media(max-length:600px){
    body{
        font-size:medium;
    }   
}
h1{
    background-color:orange;
}
 .container{
    margin-top:50px;
    text-align:center;
    width: 100%;
    max-width: 400px;
    backdrop-filter: blur(10px);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.head{
width:80%;
padding-left:30px;
padding-right:40px; 
}
.regform{
    margin:auto;
    width:60%;
    text-align:center;
    padding-left:20px;
    padding-top:20px;
    display:block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    }
button{
    box-sizing: border-box;
    width: 200px;
    height:30px;
    border:solid;
    border-style:hidden;
    position:relative;
    align-items:center;
}
input{
    width:200px;
    height:30px;
    backdrop-filter: blur(10px);
}
select{
    width:200px;
    height:40px;
}
footer{
display:flex;
justify-content:center;
width:90%;
padding:20px;
}
